.about {
    // font-size: 1.25rem;
}

.technology-section {
    display: flex;
    flex-direction: column;
}

.technology-details {
    margin-top: 10px;
    margin-left: 10px;
}

li > * {
    vertical-align: text-top;
}
