.bounce {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin-bottom: 5px;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(5px); }
    100% { transform: translateY(0); }
}