.header {
  min-height: var(--header-size);
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 5%;
  z-index: 4;
  font-family: var(--header-font);

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link {
    padding: 5px;
    margin: 5px;
    color: white;
    text-decoration: unset;
    border-bottom: 3px solid transparent;
  }

  a:hover,
  a:active,
  a.active {
    border-bottom: 3px solid var(--accent-color);
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
