$project-overflow: 10%;

.project-tile {
    min-height: 150px;
    transition: .5s;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    min-width: 380px;
    align-items: center;
    // max-height: 200px;

    .project-content {
        margin-left: calc(-1 * $project-overflow);
        padding-left: calc($project-overflow + 10px);
        height: fit-content;
    }

    .project-content-left {
        margin-right: calc(-1 * $project-overflow);
        padding-right: calc($project-overflow + 10px);
        height: fit-content;
    }

    .icon {
        border-radius: 5px;
    }
}

.project-tile:hover>.link-out {
    transform: scale(1.5);
}

@media only screen and (max-width: 600px) {
    .project-tile {
        width: 100%;
        min-width: 100%;

        .icon {
            // height: 100%;
            // max-height: 140px;
            // width: 50%;
        }
    }
}

.resources {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: auto;
    gap: 15px;
    place-content: end;
}


.top-image {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 6.6s;
    margin-bottom: -10%;
    margin: auto;
    z-index: 2;
    width: calc(33% - 5px);
}

.bottom-image {
    width: calc(50% - 5px);
    margin-bottom: -10%;
    margin: auto;
    z-index: 2;
}

.middle-image {
    width: 250px;
    height: 250px;
    z-index: 3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: auto;
}

@keyframes moving-image {
    0% {
        transform: translateY(0%);
        z-index: 2;
        width: 150px;
        height: 150px;
    }

    33% {
        transform: translateY(50%);
        z-index: 3;
        width: 180px;
        height: 180px;
    }
    66% {
        transform: translateY(125%);
        z-index: 2;
        width: 150px;
        height: 150px;
    }
    67% {
        z-index: 1;
    }
    100% {
        transform: translateY(0%);
        z-index: 1;
        width: 150px;
        height: 150px;
    }
}
