/* Timeline  */

$circle-size: 50px;
$timeline-width: 5px;

.timeline-container {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
  margin-bottom: 50px;
}

.timeline-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.timeline-rod {
  width: $timeline-width;
}

.timeline-top {
  flex: 1;
  background-color: var(--accent-color);
}

.timeline-middle {
  height: $circle-size;
  width: $circle-size;
  border-radius: 74px;
  border: 3px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.timeline-bottom {
  background-color: var(--accent-color);
  flex: 1;
}

$bleeder-length: 50px;

.timeline-bleeder {
  height: $bleeder-length;
  position: absolute;
  top: -1 * $bleeder-length;
  background-color: var(--accent-color);
}

.timeline-title {
  display: flex;
}

.timeline-image {
  width: 25px;
  margin-right: 5px;
}

.timeline-description {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  
  h3 {
    margin-top: 10px;
  }

  ul {
    margin: 0px;
  }
}

.microsoft {
  .timeline-middle {
    border-color: var(--msft-color);
  }

  .timeline-bottom {
    background-color: var(--msft-color);
  }
}

.osu {
  .timeline-bleeder {
    background-image: linear-gradient(var(--msft-color) 50%, var(--osu-color));
  }

  .timeline-top {
    background-color: var(--osu-color);
  }

  .timeline-middle {
    border-color: var(--osu-color);
  }

  .timeline-bottom {
    background-color: var(--osu-color);
  }

  &.card {
    min-height: 200px;
  }
}

.scotts {
  .timeline-top {
    flex: .3;
  }

  .timeline-bleeder {
    background-image: linear-gradient(var(--osu-color) 50%, var(--accent-color));
  }
}