@use '_header';

:root {
  /* 66 66 66 */
  --main-bg-color: rgb(47 46 46);
  --accent-color: rgb(7 118 57);
  --header-size: 50px;
}

html {
  scroll-behavior: smooth !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: white; 
  font-family: 'Roboto,sans-serif';
  background-color: #121212;
}


[id]::before {
  content: '';
  display: block;
  height:      var(--header-size);
  margin-top: var(--header-size);
  visibility: hidden;
}

h1,h2,h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.chart-container {
  width: 100%;
  height: calc(100vh - var(--header-size));
  background-color: #121212;
}

.card {
  background-color: var(--main-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  opacity: .9;
  margin-bottom: 15px;
}

.underline {
  border-bottom: var(--accent-color) 3px solid;
}

.spacer {
  margin: 5px 0px;
}

.example {
  margin: auto;
  width: 80%;
}

.layout-container {
  padding: 0px 10%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .layout-container {
    padding: 0px 10px;
  }
}

.overview > h1 {
  text-align: center;
  margin-bottom: 5px;
}


ul {
  list-style: none; 
}

ul li::before {
  content: "\2022";
  color: var(--accent-color);
  font-weight: bold;
  display: inline-block;
  width: .75em;
  margin-left: -1em;
  font-size: 26px;
  line-height: 23px;
}

ul li {
  display: flex;
    align-items: center;
}


/* Timeline  */

.timeline-container {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
  margin-bottom: 50px;
}

.timeline-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75px;
}

.timeline-top {
  flex: 1;
  background-color: var(--accent-color);
  width: 5px;
}

.timeline-middle {
  height: 40px;
  width: 40px;
  border-radius: 74px;
  border: 3px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.timeline-middle:hover {
  height: 50px;
  width: 50px;
}

.timeline-bottom {
  background-color: var(--accent-color);
  width: 5px;
  flex: 1;
}

.timeline-bleeder {
    height: 70px;
    position: absolute;
    top: -70px;
    width: 5px;
    background-color: var(--accent-color);
}

.timeline-title {
  display: flex;
}

.timeline-image {
  width: 25px;
  margin-right: 5px;
}

.timeline-description {

}


.link {
  margin-bottom: 5px;
  font-size: 20px;
}


@keyframes text-shadow {
  0%   {
    text-shadow: 150px 0px #077639;
  }
  25%  {
    text-shadow: -70px 0px #077639;
  }
  50%  {
    text-shadow: 35px 0px #077639;
  }
  100% {
    text-shadow: 5 0px #077639;
  }
}

.name-text {
    animation-name: text-shadow;
    animation-duration: 1s;
    font-size: 46px;
    text-shadow: 5px 0px #077639;
}

.project-tile {
  min-height: 150px;
  transition: .5s;
  display: flex;
  flex:1;
}

.project-tile:hover > .link-out {
  transform: scale(1.5);
}

.project-tile img {
  height: 100%;
  border-radius: 5px;
  margin-right: 10px;
}

.screen {
  height: 100vh;
  position: relative;
}

.landing-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.next-section {
  transition: 2s;
  position: absolute;
  bottom: 50px;
  width: 20%;
  left: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 30px;

  &:hover {
    width: 50%;
    left: 25%;
    height: 60px;
    font-size: 25px;
  }
}

@keyframes arrow {
  0%   {
    
  }

  100% {

  }
}