html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: white; 
  font-family: 'Roboto,sans-serif';
}

:root {
  /* 66 66 66 */
  --main-bg-color: rgb(47 46 46);
  --accent-color: rgb(7 118 57);
}

h1,h2,h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.chart-container {
  width: 100%; 
  height: 100%;
  background-color: #121212;
  position: absolute;
  z-index: -1;
}

.card {
  background-color: var(--main-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.underline {
  border-bottom: var(--accent-color) 3px solid;
}

.spacer {
  margin: 5px 0px;
}

.example {
  margin: auto;
  width: 80%;
}

.header {
  height: 50px;
  width: 100%;
  background-color: var(--main-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.layout-container {
  padding: 15px 10%;
}

.overview {
  width: 200px;
}

.overview > h1 {
  text-align: center;
  margin-bottom: 5px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  height: 40px;
}

.social-icon {
  font-size: 32px;
  transition: .3s;
  color: var(--accent-color);
  width: 40px;
  text-align: center;
}

.social-icon:hover {
  font-size: 40px;
}