.blog-content {
    p {
        margin-bottom: 10px;
    }

    h1, h2, h3 {
        margin-bottom: 10px;
        width: fit-content;

    }
}

$warning: yellow;

.blog-banner {
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 6px;
    padding: 5px;

    &:hover {
        .banner-icon {
            transform: rotate(70deg);
        }
    }

    .banner-icon {
        font-size: 60px;
        margin-right: 10px;
        transition: .5s all;
    }

    &.warning {
        border-color: $warning;

        .banner-icon {
            color: $warning
        }
    }
}


.remark-highlight {
    border: 1px solid var(--accent-color);
    border-radius: 11px;
}

.search-bar {
    border: 0px;
    background-color: transparent;
    outline: 1px solid var(--main-text);
    border-radius: 5px;
    font-size: 16px;
    color: var(--main-text);
    font-family: var(--text-font);
    padding: 5px;
    transition: .25s all;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        transition: .25s all;
        color: var(--accent-color);
        opacity: 1; /* Firefox */
        font-family: var(--header-font);
      }

    &:hover, &:focus, &:focus-visible {
        outline: 1px solid var(--accent-color) !important;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--main-text);

          }
    }
}

.post {
    width: 50%;
}

.post-container {
    display: flex;
    justify-content: space-between;
}