.blog-content {
    p {
        margin-bottom: 10px;
    }

    h1, h2, h3 {
        margin-bottom: 10px;
        width: fit-content;

    }
}

$warning: yellow;

.blog-banner {
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 6px;
    padding: 5px;

    &:hover {
        .banner-icon {
            transform: rotate(70deg);
        }
    }

    .banner-icon {
        font-size: 60px;
        margin-right: 10px;
        transition: .5s all;
    }

    &.warning {
        border-color: $warning;

        .banner-icon {
            color: $warning
        }
    }
}