.image-gallery {
    display: block;

    .selected-image {
        margin: auto;
        width: 100%;

        .inner-image {
            max-width: 100%;
            margin: auto;
            border-radius: 10px;
            box-shadow: var(--box-shadow);
            max-height: 500px;
            scroll-snap-align: start;
        }

        // img {
        //     max-width: 500px;
        //     object-fit: contain;
        // }
        // max-height: 400px;
    }

    .image-list-container {
        position: relative;
        display: flex;
        overflow: auto;
        align-items: center;
        gap: 5px;
        scroll-snap-type: x mandatory;

    }

    .image-preview {
        border: 2px solid transparent;
        border-radius: 5px;
        max-width: 200px;
        width: 200px;
        transition: all .25s;
        &.active {
            border-color: var(--accent-color);
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    border-radius: 5px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px;
  
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: var(--box-shadow);
  }